* {
    box-sizing: border-box;
    }
    
    body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    background-image: url("imgs/backgroundport.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }

    .grid {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-gap: 20px;
    }

    
    section img {
        width: 90%;
        justify-content: right;
    }

    .hero {
        max-width: 200px;
        max-height: 200px;
        border: 1px solid black;
        border-radius: 50%;
    }

    nav {
        position: fixed;
        background-color: #87CEEB;
        width: 100%;
    }
    
   aside {
       background-color: #f5f5f5;
   }
    
    footer {
        background-color: #87CEEB;
    }
    
    h1 {
        text-transform: uppercase;
    }
    
    @media screen and (max-width: 1190px) {
    
    }
    
    @media screen and (max-width: 768px) {
        .grid {
            grid-template-columns: 1fr
        }
    }